<nav>
	<div class="container">
		<div class="row">
			<div id="logo" class="col-xs-4">
				<span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
				<h1>BookMe</h1>
			</div>
			<div id="menu" class="col-xs-8">
				<%= link_to "Sign In", new_user_session_path %>
				<%= link_to "Sign Up", new_user_registration_path %>
			</div>
		</div>
	</div>
</nav>
