<div id="user_content" class="row">
	<div class="col-xs-12">
		<div class="row">
			<div class="col-xs-12">
				<%= link_to "View Profiles", user_profiles_path %>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<%= link_to "View Opeinings", user_openings_path %>
			</div>
		</div>
	</div>
</div>

