<h1>This is the old dashboard view</h1>
<%= @user.name %>
<% if @user.avatar.content_type %>
	<%= image_tag @user.avatar.url(:thuumb)%>
<% end %>
<ul>
<% @profiles.each do |profile| %>
	<li><%= profile.title %></li>
<% end %>
</ul>