
<h2>Profiles</h2>
<%= link_to "New Profile", new_user_profile_path %>
<% if @profiles.length > 0 %>
	<ul>
		<% @profiles.each do |profile| %>
			<li>
				<% if profile.avatar.content_type %>
					<%= image_tag profile.avatar.url(:thuumb) %>
				<% end %>
				<%= profile.title %>
			</li>
		<% end %>
	</ul>
<% else %>
	<p>You Currently have no profiles.</p>
<% end %>

