<section id="edit_profile_section_1">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1 class="sans_serif_bold inline_heading">New Profile</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-md-8">
				<%= render :partial => 'form' %>
			</div>
		</div>
	</div>
</section>



