<div class="row">
	<div class="col-xs-12">
		<div class="quick_action_alert alert alert-danger">
			<span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
			<h4 class="sans_serif_bold dark_text">Openings Not Created</h4>
			<p>Some of your openings could not be created because you have events that conflict.</p>
		</div>
	</div>
</div>