<div class="row">
	<div class="col-xs-12">
		<div class="quick_action_alert alert alert-success">
			<span class="not light_text"><%= flash[:success_list] %></span>
			<span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
			<h4 class="sans_serif_bold dark_text">New Openings Created!</h4>
		</div>
	</div>
</div>