<div class="row">
	<div class="col-xs-12 col-md-8">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2 class="panel-title dashboard_header">Upcoming Events</h2>
				<%= link_to "&#43 Opening".html_safe, new_user_opening_path, :class=> 'dashboard_link'%>	
			</div>
			<ul class="list-group">
				<% if !@schedule.empty? %>
					<% date = @schedule.first.start.to_date %>
					<li class="list-group-item date"><strong><%= date.strftime('%A, %B %d, %Y') %></strong></li>
					<% @schedule.each do |s| %>
						<% if s.start.to_date != date %>
							<% date = s.start.to_date %>
							<li class="list-group-item date"><strong><%= date.strftime('%A, %B %d, %Y') %></strong></li>
						<% end %>
						<li class="list-group-item">
							<% if @openings.include? s %>
								<%= link_to(user_opening_path(s)) do %>
									<div class="row">
										<div class="col-xs-12 col-sm-6 col-md-6">
												<span class='profile_color profile_color_<%= s.profile.title.gsub(/\s+/,"")%>'></span>
												<div class="small_profile_title">
													<p><%= s.profile.title %></p>
													<em class="text-success">Available</em>
												</div>
										</div>
										<div class="col-xs-12 col-sm-6 col-md-6">
												<%= s.start.strftime('%I:%M')%> - <%= s.end.strftime('%I:%M %P') %>
										</div>
									</div>
								<% end %>
							<% elsif @client_appointments.include? s %>
								<%= link_to(user_appointment_path(s)) do %>
									<div class="row">
										<div class="col-xs-12 col-sm-6 col-md-6">
												<% if s.profile.avatar.content_type %>
													<%= image_tag s.profile.avatar.url(:thuumb), :class => "xs_profile_avatar" %>
												<% end %>
												<div class="small_profile_title">
													<p><%= s.profile.title %></p>
													<em class="text-success"><%= s.profile.user.email %></em>
												</div>
										</div>
										<div class="col-xs-12 col-sm-6 col-md-6">
												<%= s.start.strftime('%I:%M')%> - <%= s.end.strftime('%I:%M %P') %>
										</div>
									</div>
								<% end %>
							<% else %>
								<%= link_to(user_appointment_path(s)) do %>
										<div class="row">
											<div class="col-xs-12 col-sm-6 col-md-6">
												<span class='glyphicon glyphicon-ok glyph_color profile_color_<%= s.profile.title.gsub(/\s+/,"")%>' aria-hidden="true"></span>
												<div class="small_profile_title">
													<p><%= s.profile.title %></p>
													<% if s.client != @user %>
														<em class="text-warning"><%= s.client.email %></em>
													<% end %>
													
												</div>
											</div>
											<div class="col-xs-12 col-sm-6 col-md-6">
												<%= s.start.strftime('%I:%M')%> - <%= s.end.strftime('%I:%M %P') %>
											</div>
										</div>
								<% end %>
							<% end %>
						</li>
					<% end %>
				<% else %>

				<% end %>
			</ul>
		</div>
	</div>
	<div class="col-xs-12 col-md-4">
		
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2 class="panel-title dashboard_header">Notifications</h2>
			</div>
			<ul class="list-group">
				<li class="list-group-item">
					<a href="#">
						New Appointments <span class="badge"><%= @appointment_notifications.count %></span>
					</a>
				</li>
				<li class="list-group-item">
					<%= link_to user_clients_path do %>
						New Clients <span class="badge"><%= @client_notifications.count %></span>
					<% end %>
				</li>
				<li class="list-group-item">
					<a href="#">
						New Venders <span class="badge"><%= @vender_notifications.count %></span>
					</a>
				</li>
				<li class="list-group-item">
					<a href="#">
						New Reviews <span class="badge">42</span>
					</a>
				</li>
			</ul>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2 class="panel-title dashboard_header">My Profiles</h2>
				<%= link_to "&#43 Profile".html_safe, new_user_profile_path, :class => "dashboard_link"%>
			</div>
			<ul class="list-group">
					<% @profiles.each do |profile| %>
						<%= link_to user_profile_path(profile) do %>
							<li class="list-group-item">
								<% if profile.avatar.content_type %>
									<%= image_tag profile.avatar.url(:thuumb) %>
								<% end %>
								<strong><%= profile.title %></strong>
							</li>
						<% end %>
					<% end %>
					<% if @profiles.count == 0 %>
						<div class="panel-body">
							<div class="alert alert-danger">
								You don't have any profiles yet.
							</div>
						</div>
					<% end %>
			</ul>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2 class="panel-title dashboard_header">Vender Profiles</h2>
				<%= link_to "Find Me!", profiles_path, :class => 'dashboard_link' %>
			</div>
			<ul class="list-group">
					<% @user_is_client.each do |p| %>
						<li class="list-group-item">
							<% if p.profile.avatar.content_type %>
								<%= image_tag p.profile.avatar.url(:thuumb) %>
							<% end %>
							<strong><%= p.profile.title %></strong>
						</li>
						
					<% end %>
					<% if @user_is_client.count == 0 %>
						<div class="panel-body">
							<div class="alert alert-danger">
								You don't have any venders yet.
							</div>
						</div>
					<% end %>
			</ul>
		</div>
	</div>
</div>

<% @profiles.each do |profile| %>
	<script>
		$('.<%= profile.title.gsub(/\s+/,"") %>').css('border', '2px solid <%= profile.color %>');
		$('.profile_color.profile_color_<%= profile.title.gsub(/\s+/,"")%>').css('border', '1px solid <%= profile.color %>');
		$('.a_profile_color.profile_color_<%= profile.title.gsub(/\s+/,"")%>').css('background-color', '<%= profile.color %>');
		$('.b_profile_color.profile_color_<%= profile.title.gsub(/\s+/,"")%>').css('border', '1px solid <%= profile.color %>');
		$('span.glyph_color.profile_color_<%= profile.title.gsub(/\s+/,"")%>').css('color', '<%= profile.color %>');

		$('td').click(function() {
			$(this).find('form').submit();
		});
	</script>
<% end %>
