/*e9573f*/
body {
	background-color: #F2F2F2;

}

.my_btn {
	background-color: transparent;
	border:1px solid #333333;
	color:#333333;
}

.my_btn:hover {
	background-color: #FF5F45;
	color:#333333;
	border:1px solid #333333;
}

.my_btn_orange {
	background-color: #e9573f;
	border:1px solid #333333;
	color:#333333;
}

.my_btn_orange:hover {
	background-color: #FF5F45;
	color:#333333;
	border:1px solid #333333;
}





