/*e9573f*/
body {
	background-color: #F2F2F2;

}

tr.strikeout_table_row td {
	position: relative;
}

tr.strikeout_table_row td:before {
	content: " ";
	position: absolute;
	top:50%;
	left:0;
	border-bottom: 1px solid #000;
	width:100%;
}


/*#log_in_form {
	background-color: #FFFEFA;
	border-radius: 5px;
	padding:20px;
}

#log_in_form h2 {
	margin-top: 0px;
}

.btn_large_orange {
	width:100%;
	background-color: #F25749;
	color:#FFFEFA;
}

.btn_large_orange:hover {
	background-color: transparent;
	border:1px solid #F25749;
}

#forgot_password_wrapper {
	margin-top: 20px;
	text-align: center;
}*/



