#user_menu {
	height:60px;
	background-color: rgba(51, 51, 51, 1);
}

#user_menu_right {
	height:60px;
	color:#f2f2f2;
	/*background-color: blue;*/
	text-align: right;
}

#user_menu_dropdown {
	height:60px;
	line-height: 60px;
	font-size: 22px;
	/*background-color: red;*/
}

#user_menu_dropdown a {
	color:#f2f2f2;
	text-decoration: none;
}

#user_menu_dropdown_list a {
	color:#474844;
}

#user_menu_name {
	height:60px;
	line-height: 60px;
	/*background-color: green;*/
	font-size: 18px;
}