/*user profile index styles*/
/*+++++++++ START ++++++++++++*/
#user_profiles_header {
	height:80px;
}

#user_profiles_header h2 {
	margin-top: 0px;
	line-height: 80px;
}

#user_profiles_new_link {
	height: 80px;
	line-height: 80px;
	text-align: right;
}

/*+++++++++ END ++++++++++++*/

/*user profile show styles*/
/*+++++++++ START ++++++++++++*/

#user_profile_view_all {
	height:80px;
	line-height: 80px;
}
/*+++++++++ END ++++++++++++*/

/*user profile new styles*/
/*+++++++++ START ++++++++++++*/



/*+++++++++ END ++++++++++++*/

