<div id="user_opening_edit_content" class="row">
	<div class="col-xs-12">
		<div class="row">
			<div class="col-xs-8 col-xs-offset-2">
				<h2>Edit Opening</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-8 col-xs-offset-2">
				<%= render :partial => 'form' %>
			</div>
		</div>
	</div>
</div>