<section class="not_section_1">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-8">
				<div class="ninja_panel panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">Cancellations</h4>
					</div>
					<ul class="list-group">
						<% if @cancellations.count == 0 %>
							<li class="list-group-item">
								<div class="alert alert-danger">
									No Cancellation
								</div>
							</li>
						<% else %>
							<% @cancellations.each do |cancellation| %>
								
								<%= render :partial => "shared/list_item/list_item_cancel.html.erb", locals:{:e => cancellation} %>
								
							<% end %>
						<% end %>
						
					</ul>
				</div>
			</div>
			<div class="col-xs-12 col-md-4">
				<%= render :partial => 'menu' %>
			</div>
		</div>
	</div>
</section>