<div class="row">
	<div class="col-xs-12 col-md-8">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">New Venders</h4>
			</div>
			<ul class="list-group">
				<% if @venders.count == 0 %>
					<li class="list-group-item">
						<div class="alert alert-danger">
							No New Venders
						</div>
					</li>
				<% else %>
					<% @venders.each do |vender| %>
						
					<% end %>
				<% end %>
				
			</ul>
		</div>
	</div>
	<div class="col-xs-12 col-md-4">
		<%= render :partial => 'menu' %>
	</div>
</div>