.event_list_link {
	text-decoration: none;
	color: #1f1f1f;
}

.event_list_link:hover {
	text-decoration: none;
	color: #e9573f;
}

.event_list_item {
	position: relative;
}

.event_list_item img {
	width:40px;
	margin-right: 10px;
}

.event_list_time {
	position: absolute;
	bottom:5px;
	right:5px;
}