#profile_calendar_section {
	padding-top: 90px;
}

.make_appointment {
	color:#1f1f1f;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	text-decoration: none;
	font-size: 14px
}

.make_appointment:hover {
	color:#e9573f;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 15px;
	text-decoration: none;
}

